*.pyc
*.DS_Store
*~
build/
dist
dist/*
.ipynb_checkpoints
docs/_*/*
neurosynth.egg-info
neurosynth/base/lextab.py
neurosynth/base/parser.out
neurosynth/base/parsetab.py
neurosynth/resources/mallet-2.0.7
.cache
*.egg-info